body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f4f4f4;
	padding-top: 80px; /* Ajuste para la barra de navegación fija */
}

.navbar {
	background-color: #007bff; /* Azul principal */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1030;
}

.navbar-brand, .nav-link {
	color: #fff !important;
}

.nav-link:hover {
	background-color: #0056b3; /* Azul más oscuro para el hover */
	border-radius: 5px;
}

.card-header {
	background-color: #007bff;
	/* Azul para los encabezados de las tarjetas */
	color: #fff;
}

.container {
	margin-top: 80px;
	/* Ajuste para el contenido debajo de la barra de navegación fija */
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.class-card {
	transition: transform 0.3s ease;
}

.class-card:hover {
	transform: scale(1.05);
}

.active-class {
	border-left: 5px solid #28a745; /* Indicador para clases activas */
}

.upcoming-class {
	border-left: 5px solid #ffc107; /* Indicador para clases próximas */
}

.finished-class {
	border-left: 5px solid #dc3545; /* Indicador para clases finalizadas */
}
/* Estilos para el contenedor del gráfico para hacerlo responsivo */
.charts-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.chart {
	flex: 1;
	min-width: 300px; /* Ajusta este valor según tus necesidades */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.chart h2 {
	text-align: center;
	padding: 15px;
	background-color: #f8f9fa;
	margin: 0;
}

.chart canvas {
	display: block; /* Elimina el espacio extra debajo del canvas */
}

/* Efecto al pasar el mouse */
.chart:hover {
	transform: translateY(-5px);
}